/*
  GitHub : NekoChanTaiwan
  Discord : NekoChan#2851
  Twitter : TW_NEKO_CHAN
  Version : 0.0.0
*/

/* 主題顏色聲明 / Theme Color ( 別碰 / Don't Touch ) */
$tBlue: #1d9cf0;
$tYellow: #ffd401;
$tRed: #f4222f;
$tPurple: #7756ff;
$tOrange: #ff7a01;
$tGreen: #00ba7a;

/* 使用者設定區 / User Config */
$theme: $tBlue; // Theme Color
$darkMode: 1; // 1 or 0

/* mixin */
@mixin darkMode {
  @if $darkMode > 0 {
    color: white !important;
  }
}

@mixin backgroundTheme {
  background-color: $theme !important;
}

/* style */
// 跟隨按鈕 / Follow Button
div[data-testid$="follow"] {
  @include backgroundTheme;

  span span {
    @include darkMode;
  }
}

// 取消跟隨按鈕 / Unfollow Button
div[data-testid$="unfollow"] {
  background-color: transparent !important;
  transition: background-color .2s;

  &:hover {
    @include backgroundTheme;
  }

  span span {
    @include darkMode;
  }
}

// 確認取消按鈕
div[data-testid="confirmationSheetConfirm"] {
  @include backgroundTheme;

  div span span {
    @include darkMode;
  }
}

// 編輯個人資料
a[href="/settings/profile"] {
  @include backgroundTheme;
}

// 個人資料儲存按鈕
div[data-testid="Profile_Save_Button"] {
  @include backgroundTheme;

  div span span {
    @include darkMode;
  }
}

/* 滾動條 */
* {
  @if $darkMode > 0 {
    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgb(95, 95, 95);
    }

    &::-webkit-scrollbar-track {
      // background-color: #000;
      background-color: rgb(68, 68, 68);
    }

  }
}